pkgbase = lr2oraja-endlessdream
	pkgdesc = A featureful fork of beatoraja.
	pkgver = 0.3.0
	pkgrel = 5
	url = https://github.com/seraxis/lr2oraja-endlessdream
	install = migrate.install
	arch = x86_64
	license = GPL3
	license = GPL3
	license = MIT
	makedepends = unzip
	depends = liberica-jre-8-full-bin
	depends = portaudio
	source = https://github.com/seraxis/lr2oraja-endlessdream/releases/download/v0.3.0/lr2oraja-0.8.8-endlessdream-linux-0.3.0.jar
	source = https://github.com/TNG-dev/tachi-beatoraja-ir/releases/download/v3.0.0/bokutachiIR-3.0.0.jar
	source = lr2oraja-endlessdream.sh
	source = lr2oraja-endlessdream-icon.png
	source = libjportaudio.so
	sha256sums = c77719e5be5f650755297e837f8e26df998662d066334153c63e219bc03a851d
	sha256sums = 3754959d5d6f121dbeed3a78dec2b91a26e915ff4ce68fdee4262b89ad150cb9
	sha256sums = b15d784c416bfc353005ef37e1325a7a28e6af96a82eec8ea11af586bb603002
	sha256sums = fdbd37ff43aa6af20f9eb643bf271a77ef579014970a7a3dcecf78e65123d83d
	sha256sums = a65d1290d3ee7710f9327c040e6369bf7587eb3609835ed782caaf0ac02d84ed

pkgname = lr2oraja-endlessdream
