pkgbase = lr2oraja-endlessdream
	pkgdesc = A featureful fork of beatoraja.
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/seraxis/lr2oraja-endlessdream
	install = migrate.install
	arch = x86_64
	license = GPL3
	license = GPL3
	license = MIT
	makedepends = unzip
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	depends = bash
	depends = liberica-jdk-17-full-bin
	source = https://github.com/seraxis/lr2oraja-endlessdream/releases/download/v0.4.0/lr2oraja-0.8.8-endlessdream-linux-0.4.0.jar
	source = https://github.com/philburk/portaudio-java/archive/2ec5cc47d6f8abe85ddb09c34e69342bfe72c60b.tar.gz
	source = https://github.com/zkrising/tachi-beatoraja-ir/releases/download/v3.1.0/bokutachiIR-3.1.0.jar
	source = lr2oraja-endlessdream.sh
	source = lr2oraja-endlessdream-icon.png
	source = lr2oraja-endlessdream.desktop
	sha256sums = 5623cca355e1c350c5e7bef4d512b875d3fb700c73e60e2289c9a0ad5ef7d28e
	sha256sums = 7a70d90d449fc9d91026c54e1d08303242749475ad20b30b5bfa45fc93f18043
	sha256sums = 11d0069581c81026aa016cf5452c7fd3c1812d220b827b0674ebfa1bbbaaeb83
	sha256sums = 0246f27a70159da8a068e9613cd6d858e6dd546acde5e58ee93e564e5af5f5f5
	sha256sums = fdbd37ff43aa6af20f9eb643bf271a77ef579014970a7a3dcecf78e65123d83d
	sha256sums = 8ad578f30b046fd35b4f412dcb2c9039a8b9a3ebfd5e8299328b92234f4c9901

pkgname = lr2oraja-endlessdream
